@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
.album-card[data-v-5dd4a3ae] {
  max-width: 245px;
  min-width: 245px;
  background: rgba(245, 245, 245, 0.5);
  color: #616161;
  transition: all 0.3s linear;
}
.album-card .q-img[data-v-5dd4a3ae] {
  border-radius: 4px;
  transition: all 0.3s linear;
}
.album-card[data-v-5dd4a3ae]:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.5);
  background-color: rgba(245, 245, 245, 0.5);
  color: #212121;
  transition: all 0.3s linear;
}
.album-card:hover .q-img[data-v-5dd4a3ae] {
  opacity: 0.9;
  filter: brightness(90%);
  transition: all 0.3s linear;
  box-shadow: 0 0 10px rgba(69, 90, 100, 0.6);
}