
#artists .artist-name[data-v-44274ed2]:not(:last-child)::after {
  content: ', ';
}
#artists .artist-name[data-v-44274ed2] {
  cursor: pointer;
}
#artists .artist-name[data-v-44274ed2]:hover {
  text-decoration: underline;
}

.progress-smooth[data-v-fff8e728] {
  transition: width 0.1s linear;
}
